<div id="div-background" class="vh-100">

  <div class="row">
  <app-nav></app-nav>
  </div>

  <div>
    <h1 class="text-center fw-semibold text-light">Estadisticas de la escuela</h1>
  </div>

  <div class="row">

    <div class="col-6">

      <div class="div-chart" id="left-chart">
        <h3 class="text-center fw-light">Estudiantes por Materias</h3>
        <app-chart></app-chart>
      </div>

    </div>
    <div class="col-6">

      <div class="div-chart" id="right-chart">
          <h3 class="text-center fw-light">Estudiantes por Grados</h3>
        <app-chart></app-chart>
      </div>

    </div>
  </div>
</div>
